.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #3D0D26;
	color: rgb(202, 201, 201);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #7A3434;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.form {
	max-width: 270px;
	font-weight: bolder;
	line-height: 1.5;
	margin: 8px auto;
	padding-left: 16px;
	z-index: 2;
}

h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

h1 {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bolder;
	line-height: 1.5;
	margin: 8px auto;
	padding-left: 34%;
	z-index: 2;
}
	
.gen{
  outline: 0;
  background: #cac3c3;
  color:rgb(15, 15, 15);
  font-weight: normal;
  width: 76%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  border-radius: 5px;
}

.dropping{
  outline: 0;
  background: #7A3434;
  color: rgb(202, 201, 201);
  width: 76%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 40px;
  border-radius: 5px;
}


.submit{
  background: #3D0D26;
  color: rgb(202, 201, 201);
  width: 76%;
  border: 0;
  margin: 25px 0 10px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bolder;
  height: 35px;
  text-align: center;
  border-radius: 5px;
}

.result{
	    background-color: rgb(202, 201, 201);
		width: 76%;
		border: 0;
		margin: 25px 0 10px;
		box-sizing: border-box;
		font-size: 15px;
		height: 70px;
		text-align: center;
}

.img {
  background: url('https://i.pinimg.com/originals/17/c7/65/17c7658e7c4e4153a50ac397927d0eff.jpg');
	background-repeat: no-repeat;
  background-size: auto;
  background-size:100% 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

body, html {
  height: 100%;
}